<h1>All Businesses:</h1>
	<% @businesses.each do |business| %>
	<div class="panel panel-default">
	<a href="businesses/<%= business.id%>">
		<div class="panel-body">
	 			<h2><%= "#{business.name}" %></h2>
				</div>
			</a>
 		</div>
	
	<% end %>
