<br><br>
<form action="/businesses/new" method="post" class="form-horizontal">
	<div class="form-group">
    <label for="bn" class="col-sm-2 control-label">Business Name</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" id="bn" placeholder="Enter your business's name">
    </div>
  </div>
  
  <div class="form-group">
    <label for="un" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="email" name="username" class="form-control" id="un" placeholder="Enter your username">
    </div>
  </div>
  
  <div class="form-group">
    <label for="pass" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control" id="pass" placeholder="Enter your password">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign up</button>
    </div>
  </div>
  
</form>