<h2><%= @business.name %></h2>
<h3>Employees</h3>
<a href="/employees/new">New Employee</a>
<br><br>
<% @employees.each do |employee| %>
	<div class="panel panel-default">
		<div class="panel-body">
			<h3><%= employee.name %></h3>
					<a href="/employees/<%=employee.id %>/edit"><button class="btn btn-info">Edit</button></a>
					<form action="/employees/<%=employee.id %>" method="post" style="display: inline" class="col-md-offset-10">
					<input type="hidden" name="_method" value="delete">
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
		</div>
	</div>
	<% end %>