<% if logged_in? %>
<nav>
	<ul class="nav nav-tabs">
		<li><a href="/businesses"> Directory </a></li>
		<li><a href="/businesses/<%= current_user.id %>"> My Business </a></li>
		<li><a href="/projects"> My Projects </a></li>
		<li><a href="/employees"> My Employees </a></li>
		<li><a href="/supplies"> My Supplies </a></li>
		<li><a href="/logout"> Logout </a></li>
	</ul>
</nav>

<% end %>
